
body{
    font-family: arial;
}


table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-size: 0.8rem;
  letter-spacing: 1px;
}
td{
  border: 1px solid #000000;
  text-align: left;
  padding: 0 15px 0 15px;
}
.selected {
    background-color: #104f7a;
}

/* Popup styles */
    .popup-overlay {
      position: fixed;
      top: 0; left: 0;
      width: 100vw; height: 100vh;
      background-color: rgba(0, 0, 0, 0.4);
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 9999;
    }

    .popup {
      background: white;
      padding: 20px;
      border-radius: 10px;
      min-width: 250px;
      max-width: 90%;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
      text-align: center;
      position: relative;
    }

    .popup-close {
      position: absolute;
      top: 10px;
      right: 12px;
      cursor: pointer;
      font-size: 18px;
      background: none;
      border: none;
    }
